.sider-trigger {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    cursor: pointer;
    border-radius: 0 6px 6px 0;
    position: absolute;
    bottom: 0;
    font-size: 11px;
    height: 55px;
    left: -28px;
    border-left: none;
    transform: translateY(-50%) rotate(-180deg);
}
