.sider-trigger {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
    padding: 10px;
    cursor: pointer;
    background: #001529;
    color: white;
    border-radius: 4px 0 0 4px;
    position: absolute;
    top: 50%;
    right: 0; /* collapsedWidth */
    transform: translateY(-50%) rotate(180deg);
}
