.note-card.dark {
    background-color: #2d3132 !important;
    border-color: #444 !important;
}

.note-card.dark .ant-card-head {
    background-color: #2d3132 !important;
    border-bottom: 1px solid #444 !important;
}

.note-card.dark .ant-card-head .ant-input {
    color: #e8e8e8 !important;
}

.note-card.dark .ant-input {
    background-color: #2d3132 !important;
    color: #d8d8d8 !important;
}

.note-card.dark .ant-typography {
    color: #a0a0a0 !important;
}

.notes-panel.dark .ant-typography {
    color: #e8e8e8 !important;
}
